## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chara,RU,56.9064,118.2631,52.56,97,100,1.70,moderate rain
1,1,Kovrov,RU,56.3572,41.3192,59.11,97,100,3.58,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.67,80,16,12.06,moderate rain
3,3,Busselton,AU,-33.6500,115.3333,56.57,63,87,14.61,overcast clouds
4,4,Albany,US,42.6001,-73.9662,72.25,62,4,4.50,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip60
What is the maximum temperature you would like for your trip85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,73.67,80,16,12.06,moderate rain
4,4,Albany,US,42.6001,-73.9662,72.25,62,4,4.50,clear sky
7,7,Avera,US,33.1940,-82.5271,78.85,74,89,7.70,overcast clouds
8,8,Pueblo Nuevo,MX,23.3833,-105.3833,67.23,84,75,4.68,broken clouds
10,10,Tarrafal,CV,15.2833,-23.7667,75.99,86,31,11.74,scattered clouds
12,12,Port Alfred,ZA,-33.5906,26.8910,63.18,70,3,10.00,clear sky
17,17,Bengkulu,ID,-3.8004,102.2655,77.23,80,100,3.58,overcast clouds
18,18,Butaritari,KI,3.0707,172.7902,81.90,78,37,12.21,scattered clouds
19,19,Avarua,CK,-21.2078,-159.7750,77.05,53,63,10.36,broken clouds
26,26,Vaini,TO,-21.2000,-175.2000,77.16,73,20,11.50,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                446
City                   446
Country                446
Lat                    446
Lng                    446
Max Temp               446
Humidity               446
Cloudiness             446
Wind Speed             446
Current Description    446
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# No empty rows in the DataFrame

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,73.67,moderate rain,-23.1203,-134.9692,
4,Albany,US,72.25,clear sky,42.6001,-73.9662,
7,Avera,US,78.85,overcast clouds,33.1940,-82.5271,
8,Pueblo Nuevo,MX,67.23,broken clouds,23.3833,-105.3833,
10,Tarrafal,CV,75.99,scattered clouds,15.2833,-23.7667,
12,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,
17,Bengkulu,ID,77.23,overcast clouds,-3.8004,102.2655,
18,Butaritari,KI,81.90,scattered clouds,3.0707,172.7902,
19,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
26,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", np.nan, inplace = True)
hotel_df.dropna(subset = ["Hotel Name"], inplace = True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,73.67,moderate rain,-23.1203,-134.9692,People ThankYou
10,Tarrafal,CV,75.99,scattered clouds,15.2833,-23.7667,Hotel Ixola
12,Port Alfred,ZA,63.18,clear sky,-33.5906,26.8910,The Halyards Hotel
17,Bengkulu,ID,77.23,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
18,Butaritari,KI,81.90,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
683,Shaunavon,CA,75.94,overcast clouds,49.6501,-108.4181,Bear's Den Lodge
685,Loralai,PK,77.34,overcast clouds,30.3705,68.5980,Saddam Hotel & Resturant
686,Porto Walter,BR,77.36,overcast clouds,-8.2686,-72.7439,Hotel Silva
688,Aswan,EG,83.59,overcast clouds,24.0934,32.9070,Nuba Nile
689,Anaco,VE,74.30,scattered clouds,9.4389,-64.4728,SAIVEN MALL (SAIVEN C.A.)

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))